{% extends 'base.html' %}
{% block body %}
{% raw %}
<div class="w-100 d-flex align-items-center justify-content-between mx-auto mt-5 mb-2 px-2" style="max-width: 480px;">
	<h1 class="text-gray-900 font-weight-bold m-0">Sign Up</h1>
</div>

<div class="card shadow border-left-primary mx-auto my-3 p-3" style="max-width: 480px;">
		{% endraw %}
		{% if 'error' in session: %}
		{% raw %}
			<div class="alert alert-danger">
				{% endraw %}{{ get_and_clear_error() }}{% raw %}
			</div>
		{% endraw %}
		{% endif %}
		{% raw %}

		<form class="" action="/signup" method="POST">
			<div class="mb-1">
				<label class="text-muted small mb-1 d-block w-100" for="input-username">Username</label>
				<input type="text" name="username" id="input-username" class="form-control" placeholder="Username" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off"/>
			</div>
			<div class="mb-3">
				<label class="text-muted small mb-1 d-block w-100" for="input-username">Password</label>
				<input type="password" name="password" id="input-password" class="form-control" placeholder="Password" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off"/>
			</div>

			<input type="submit" class="btn btn-primary d-block w-100" value="Sign Up">
		</form>
	</div>

	<div class="card shadow mx-auto my-3 p-3" style="max-width: 480px;">
		<p class="text-center">Already have an account?</p>

		<a href="{% endraw %}{{ url_for('_view_login') }}{% raw %}" class="btn btn-outline-primary d-block w-100">Log-in</a>
	</div>
{% endraw %}
{% endblock body %}
